In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    "../data/dataset.csv",
)

In [4]:
df.describe()

       age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
count                                               45211
unique                                              45211
top     58;"management";"married";"tertiary";"no";2143...
freq                                                    1

In [6]:
df.shape

(45211, 1)